//Colors
$botdot: #3D9F5E;

//Breakpoints
$brkMdPhone: 415px;
$brkLgPhone: 575px;
$brkTab: 768px;
$brkMdDesk: 991px;
$brkLgDesk: 1400px;

//Styles for @extend
.frontSectionStyles{
    background: #fff;
    color: #505050;
    
    padding-top: 60px;
    position: relative;
    z-index: 2;
}

.headlineTypography {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
